<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thống Kê Đối Tác Theo Tháng</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="/css/nav.css"> 
    <link rel="stylesheet" href="/css/thongke.css"> 
</head>
<body>

    <!--NAV BAR-->
    <div th:replace="~{/fragments/navbar :: navbar}"></div>

    <h1>Thống kê số lượng Đối tác theo Tháng</h1>
    <table>
        <thead>
            <tr>
                <th>Tháng</th>
                <th>Số lượng Đối tác</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="entry : ${thongKeThang.entrySet()}">
                <td th:text="${entry.key}">Tháng</td>
                <td th:text="${entry.value}">Số lượng</td>
            </tr>
        </tbody>
    </table>
    
</body>
</html>
