body {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container-combo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 60px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 1200px;
    
}


.img {
    flex: 1;
    max-width: 50%;
    padding-right: 20px;
}

.img img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.detail {
    flex: 1;
    max-width: 50%;

    
}

.tieude h1 {
    font-size: 32px;
    margin: 0 0 10px;
    color: #333;
}

.chitiet p {
    font-size: 18px;
    margin: 10px 0;
    color: #666;
}

.gia {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
    color: #e74c3c;
}


.container-combo a{
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 100px;

}
