<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale= 1.0" />
        <title>Đặt bàn Boss </title>
        <link th:href="@{/css/main.css}" rel="stylesheet" />
        <link th:href="@{/css/thongbao.css}" rel="stylesheet" />
        <script th:src="@{/js/nav.js}"></script>
        <script th:src="@{https://example.com/fontawesome/vVERSION/js/all.js}"></script>
 
        <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}"/>
        <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js}"></script>
        <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/script.js}" defer></script>
        <script th:src="@{/js/thongbao.js}" defer></script>
        
    </head>

    <body>
        <!--NAV BAR-->
        <header th:replace="~{/fragments/top :: top}"></header>

        <!-- BODY Content  -->
        <div class="fixcontent">
            <div class="content" >
                <form class="search-box" action="/search" method="get">
                    <input type="text" name="query" placeholder="Nhập tên nhà hàng hoặc địa chỉ">
                    <button type="submit">Tìm kiếm</button> 
                </form>
                <!-- Form lọc -->
                <form id="filterForm" method="get" action="/loc">
                    <label for="thanhpho">Thành phố:</label>
                    <select id="thanhpho" name="thanhpho">
                        <option value="">Chọn thành phố</option>
                        <option value="Hà Nội">Hà Nội</option>
                        <option value="Hồ Chí Minh">Hồ Chí Minh</option>
                        <option value="Đà Nẵng">Đà Nẵng</option>
                        <!-- Thêm các thành phố khác nếu cần -->
                    </select>

                    <label for="hoadon">Hóa đơn trung bình:</label>
                    <input type="text" id="hoadon" name="hoadon" placeholder="Nhập hóa đơn trung bình">

                    <button type="submit">Lọc</button>
                </form>
                

                <!---------  Loại Nhà Hàng  --------->
                <div class="menu-container">
                    <div class="menu" th:each="loainhahang : ${loainhahangs}" th:if="${loainhahang != null}">
                        <a th:href="@{/loc-theo-loai/{malnh}(malnh=${loainhahang.malnh})}">
                        <div  class="menu-item">
                            <img th:src="@{/uploads/{imgmota}(imgmota=${loainhahang.imgmota})}" alt="Mô tả ảnh">
                            <p th:text="${loainhahang.tenlnh}">
                                
                            </p>
                        </div>
                     </a>
                    </div>
                </div>

                <!--CHOICE-->

                <!--Box1-->
               <!-- Kiểm tra điều kiện và hiển thị tiêu đề nếu thỏa mãn -->
            <div th:if="${doiTacs.size() > 0}">
                <div th:if="${doiTacs.get(0).nguoiDung.mapq == 3 && doiTacs.get(0).madv == 1 && doiTacs.get(0).mabv != null }">
                    <h2>Buffet hải sản</h2>
                    <p>Menu cực nhiều món ngon từ tôm, cua, ốc, ghẹ,... với nhiều mức giá. Một số Nhà hàng còn có tôm hùm, cua biển. Từ bình dân đến sang chảnh.</p>
                </div>
            </div>
                
                <div class="pagebox">
                    <!-- Lặp qua danh sách doiTacs để hiển thị từng đối tác thỏa mãn điều kiện -->
                    <div th:each="doiTac : ${doiTacs}">
                        <div th:if="${doiTac.nguoiDung.mapq == 3 && doiTac.madv == 1 && doiTac.mabv != null}">
                            <div class="box1">
                                <a th:href="@{/ctnhahang/{id} (id = ${doiTac.madt})}">
                                    <div class="box2">
                                        <img class="fix-img" th:src="@{/uploads/{imgmota}(imgmota=${doiTac.imgmota})}"/>
                                    </div>
                                    <h4 style="font-size: large;" class="tieuDe-nhaHang" th:text="${doiTac.tennhahang}"></h4>
                                    <p class="diaChi-nhaHang" th:text="${doiTac.getFullAddress()}"></p>
                                    <div style="padding: 0px 90px;">
                                        <button type="button" class="fm-btn">Đặt bàn</button>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                
                 <!-- Box2 -->
                 <!-- <div th:if="${doiTacs.size() > 0}">
                    <div th:if="${doiTacs.get(0).nguoiDung.mapq == 3 && doiTacs.get(0).madv == 2 && doiTacs.get(0).mabv != null }">
                    <h2>Nhà Hàng da đạng giá. Ưu đãi bất ngờ!</h2>
                    <p>Buffet chay, Buffet trưa, Buffet hải sản, buffet nướng, buffet lẩu,... cho ăn gia đình, liên hoan văn phòng, tiếp khách,....</p>
                </div>
                
                <div class="pagebox">
                    <div class="box1" th:each="doiTac : ${doiTacs}" th:if="${doiTac.nguoiDung.mapq == 3 && doiTac.madv == 2 && doiTac.mabv != null }" >
                        <a th:href="@{/ctnhahang/{id} (id = ${doiTac.madt})}">
                            <div class="box2">
                                <img class="fix-img" th:src="@{/uploads/{imgmota}(imgmota=${doiTac.imgmota})}"/>
                            </div>
                            
                                <h4 class="tieuDe-nhaHang" th:text="${doiTac.tennhahang}"></h4>
                            
                            
                            <p class="diaChi-nhaHang" th:text="${doiTac.getFullAddress()}"></p>
                            <div>
                                <button type="button" class="fm-btn">Đặt bàn</button>
                            </div>
                        </a>
                    </div>
                </div> -->

                <!--Box3-->
                <!-- <div th:if="${doiTacs.size() > 0}">
                    <div th:if="${doiTacs.get(0).nguoiDung.mapq == 3 && doiTacs.get(0).madv == 3 && doiTacs.get(0).mabv != null }">
                    <h2>Nhà Hàng cho tụ họp, liên hoan, tiếp khách</h2>
                    <p>Gồm cả các nhà hàng hải sản, quán chay, món Nhật, món Thái, món Trung... Phục vụ buffet hoặc gọi món. Nhiều mức giá.</p>
                </div>
                
                <div class="pagebox">
                    <div class="box1" th:each="doiTac : ${doiTacs}" th:if="${doiTac.nguoiDung.mapq == 3 && doiTac.madv == 3 && doiTac.mabv != null }" >
                        <a th:href="@{/ctnhahang/{id} (id = ${doiTac.madt})}">
                            <div class="box2">
                                <img class="fix-img" th:src="@{/uploads/{imgmota}(imgmota=${doiTac.imgmota})}"/>
                            </div>
                            
                                <h4 class="tieuDe-nhaHang" th:text="${doiTac.tennhahang}"></h4>
                            
                            
                            <p class="diaChi-nhaHang" th:text="${doiTac.getFullAddress()}"></p>
                            <div>
                                <button type="button" class="fm-btn">Đặt bàn</button>
                            </div>
                        </a>
                    </div>
                </div> -->
                <!--Box4-->
                <!-- <div th:if="${doiTacs.size() > 0}">
                    <div th:if="${doiTacs.get(0).nguoiDung.mapq == 3 && doiTacs.get(0).madv == 4 && doiTacs.get(0).mabv != null }">
                    <h2>Top QUÁN NHẬU vừa ngon vừa chill. CỰC ĐÃ!</h2>
                    <p>
                        Món nhậu ngon, đồ uống chất, bình dân tới cao cấp, cực chill. Nhiều góc view đẹp. Có cả rooftop. Mở cửa từ sáng đến khuya!</p>
                </div>
                
                <div class="pagebox">
                    <div class="box1" th:each="doiTac : ${doiTacs}" th:if="${doiTac.nguoiDung.mapq == 3 && doiTac.madv == 4 && doiTac.mabv != null }" >
                        <a th:href="@{/ctnhahang/{id} (id = ${doiTac.madt})}">
                            <div class="box2">
                                <img class="fix-img" th:src="@{/uploads/{imgmota}(imgmota=${doiTac.imgmota})}"/>
                            </div>
                            
                                <h4 class="tieuDe-nhaHang" th:text="${doiTac.tennhahang}"></h4>
                            
                            
                            <p class="diaChi-nhaHang" th:text="${doiTac.getFullAddress()}"></p>
                            <div>
                                <button type="button" class="fm-btn">Đặt bàn</button>
                            </div>
                        </a>
                    </div>
                </div> -->
                <!--Box4-->
                <!-- <div th:if="${doiTacs.size() > 0}">
                    <div th:if="${doiTacs.get(0).nguoiDung.mapq == 3 && doiTacs.get(0).madv == 5 && doiTacs.get(0).mabv != null }">
                    <h2>TOP Quán ăn GIA ĐÌNH siêu ngon, các bé thích mê!</h2>
                    <p>Đồ ăn ngon, không gian ấm cúng. Có phòng riêng hoặc khu vực riêng, ít người qua lại, phù hợp cho cả trẻ nhỏ, người già.</p>
                </div>
                
                <div class="pagebox">
                    <div class="box1" th:each="doiTac : ${doiTacs}" th:if="${doiTac.nguoiDung.mapq == 3 && doiTac.madv == 5 && doiTac.mabv != null }" >
                        <a th:href="@{/ctnhahang/{id} (id = ${doiTac.madt})}">
                            <div class="box2">
                                <img class="fix-img" th:src="@{/uploads/{imgmota}(imgmota=${doiTac.imgmota})}"/>
                            </div>
                            <h3 class="tieuDe-nhaHang" th:text="${doiTac.tennhahang}"></h3>
                            <p class="diaChi-nhaHang" th:text="${doiTac.getFullAddress()}"></p>
                            <div style="justify-content: center;width: 100%; display: flex;">
                                <button type="button" class="fm-btn">Đặt bàn</button>
                               </div>
                        </a>
                    </div>
                </div> -->

            </div>
        </div>
        <!-- -----Tool Box ------- -->
        <div style="margin: 0px;" class="pagebox manhinh3">
            <div class="footer">
                <div class="div-main-ele">
                    <h3>FOLLOW US</h3>
                    <div class="div-follow"> 
                        <div class="wrapper">
                            <a class="facebook icon fm-link" th:href="@{https://www.facebook.com/pasgo.vn}" target="_blank">f</a>                        
                            <a class="icon zalo fm-link" th:href="@{https://www.tiktok.com/@pasgovietnam}" target="_blank">Z</a>                       
                            <a class="icon instagram fm-link" th:href="@{https://www.youtube.com/channel/UCZVrGI9UypsJxa-U_-DC2qg}" target="_blank">Ig</a>      
                        </div>
                    </div>
                </div>   
                <div class="div-main-ele"> 
                    <div class="fmLogoDT"  th:if="nguoiDung.mapq != 3">
                        <a th:href="${session.loggedInUser != null ? '/doitac/dangkydoitac' : '/doitac/login-required'}" target="_blank">ĐĂNG KÝ ĐỐI TÁC</a>
                    </div>
                </div>
            </div>
        </div>           
    </body>
</html>