<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="/fragments/head :: head">
    </head>
<body onload="toggleSidebar()">
    <!-- phần thân -->
    <div class="container">
        <div th:replace="/fragments/left :: left"></div>
        <div class="content" id="content">
            <div id="QLDonHHContent" class="content-item">
                <div class="box-bg1">  
                    <h1>ĐÃ HOÀN THÀNH</h1>
                    <div class="box-bg2">
                        
                        <from class="box-search" th:action="/doitac/search" method="get">
                            <button type="submit">
                                <img class="fm-icSearch" th:src="@{/images/icsearch.png}"/>
                            </button>
                            <input class="input-search" type="text" name="query" placeholder="Search" type="search" >
                        </from>

                        <div class="fm-table-QLDH">
                            <table>
                            <tr>
                                <th>Mã DDB</th>
                                <th>Số điện thoại</th>
                                <th>Ngày đặt</th>
                                <th>Giờ đến</th>
                                <th>Số lượng</th>
                                <th>ComBo</th>
                                <th style="background-color: #f0e51b;">Đánh giá</th>
                                <th style="background-color: #d3ca17;">Feedback</th>
                                <th style="background-color: #9f9810;">Số tiền</th>
                                <th>Trạng thái</th>
                            </tr>
                            <tr th:if="${donDatBan.trangThaiDon.mattd == 3}" th:each="donDatBan : ${donDatBans}">
                                <td th:text="${donDatBan.maddb}"></td>
                                <td th:text="${donDatBan.nguoiDung.hoten}"></td>
                                <td th:text="${#dates.format(donDatBan.ngaydat, 'dd/MM/yyyy')}"></td>
                                <td th:text="${#dates.format(donDatBan.thoigiandat, 'HH:mm')}"></td>
                                <td th:text="${donDatBan.solgnguoi}"></td>
                                <td th:text="${donDatBan.comBoMonAn?.tencb ?: 'Null'}"></td>
                                <td th:text="${donDatBan?.danhGia?.sosao ?: 'Chưa đánh giá'}"></td>
                                <td th:text="${donDatBan?.danhGia?.binhluan ?: 'Chưa đánh bình luận'}"></td>
                                <td th:text="${donDatBan.soTienDepHon()}"></td>
                                <td>
                                    <Button disabled class="btndis" type="button">Thành công</Button>
                                </td>   
                            </tr>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
</html>