<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragments/head :: head}">
   
</head>
<body onload="toggleSidebar()">
    <!-- phần thân -->
    <div class="container">
        <!-- Left Side Bar -->
        <div th:replace="~{/fragments/left :: left}"></div>
        <!-- Conent -->
        <div class="content" id="content">
            <div class="box-bg1">
                <h1>THỐNG KÊ ĐỐI TÁC</h1>
                <div class="box-bg2">
                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>