<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thông Tin Tài Khoản</title>
    <link rel="stylesheet" th:href="@{/css/info.css}">
    <link th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>
    <header th:replace="~{/fragments/top :: top}"></header>
    <div class="container-info">
        <nav class="sidebar">
            <div class="profile">
                <div class="profile-img">
                    <img src="/images/canhan.png">
                </div>
                <p th:text="'SDT: ' + ${nguoiDung.sdt}"></p>
            </div>
            <ul class="menu" style="align-items: start;">
                <li><a th:href="@{/info}">Thông tin tài khoản</a></li>
                <li><a th:href="@{/resetpw}">Quản lý mật khẩu</a></li>
                <li><a th:href="@{/booking-history}">Lịch sử đơn Đặt chỗ</a></li>
            </ul>
            <a style="margin-left: 20px;" class="button" th:href="@{/logout}">Đăng xuất</a>
        </nav>
        <div class="content">
            <h1>Thông Tin Tài Khoản</h1>
            <form th:action="@{/capnhat-thongtin}" method="post" th:object="${nguoiDung}">
                <div class="form-group">
                    <label for="hoten">Tên:</label>
                    <input type="text" id="hoten" name="hoten" th:value="${nguoiDung.hoten}" th:field="*{hoten}" required>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" th:value="${nguoiDung.email}" th:field="*{email}" required>
                </div>
                <div class="form-group">
                    <label for="diachi">Địa chỉ:</label>
                    <input type="text" id="diachi" name="diachi" th:value="${nguoiDung.getFullAddress()}" required>
                </div>
                <div class="form-group">
                    <label for="solandatban">Số lần đặt bàn:</label>
                    <input type="text" id="solandatban" name="solandatban" th:value="${nguoiDung.solandatban}" th:field="*{solandatban}" readonly>
                </div>
                <button  type="submit">Cập nhật</button>
            </form>
            <div class="fm-phanquyen" style="margin-top: 20px;">
                <div class="item-phanquyen" th:if="${nguoiDung.mapq == 1}">
                    <a th:href="@{/admin}" class="button">Quản lý Admin</a>
                </div>
                <div class="item-phanquyen" th:if="${nguoiDung.mapq == 3}">
                    <a target="_blank" th:href = "@{/doitac/{id} (id = ${nguoiDung.doiTac.madt})}" class="button">Quản lý Đối tác</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>