<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{css/Login.css}">
    <link rel="stylesheet" th:href="@{fontawesome/css/all.min.css}">
    <title>Login  | Ludiflex</title>
</head>
<body>
    <div class="container">
       <div class="box">
        <!--login box-->
        <div class="box-login" id="login">
            <div class="top-header">
                <h3>Hello , Again !</h3>
                <small>We are happy to have you back.</small>
            </div>
            <div class="input-group">
                <div class="input-field">
                    <input type="text" class="input-box" id="logusername" required>
                    <label for="logusername"> Username</label>
                </div>
                <div class="input-field">
                    <input type="password" class="input-box" id="logpassword" required>
                    <label for="logpassword "> Password</label>
                </div>
               
                <div class="input-field">
                    <input type="submit" class="input-submit" value="Sign in">
                </div>
                <div class="forgot">
                    <a th:href="@{/resetpw}">Forgot password ?</a>
                </div>
            </div>
        </div>
        
        <!---Switch-->

        <div class="switch">
            <a th:href="@{/login}" class="login" >Login</a>
            <a th:href="@{/register}" class="register">Register</a>
            <div class="btn-active" id="btn"></div>
        </div>
       </div>
    </div>

</body>
</html>