<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lịch sử đặt bàn</title>
    <link th:href="@{/css/lsdatban.css}" rel="stylesheet" />
    <link th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>
    <header th:replace="~{/fragments/top :: top}"></header>
    <div class="container"> 
        <h1>LỊCH SỬ ĐẶT BÀN</h1>
        <div class="fm-table-QLDH">
            <table>
                <thead>
                    <tr>
                        <th>Tên nhà hàng</th>
                        <th>Ngày đặt</th>
                        <th>Giờ đến</th>
                        <th>Số lượng</th>
                        <th>Tên Combo</th>
                        <th>Tên Chi Nhánh</th>
                        <th>Yêu cầu đặc biệt</th>
                        <th>Ghi chú</th>
                        <th>Trạng thái</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="donDatBan : ${nguoiDung.donDatBans}">
                        <td th:text="${donDatBan.doiTac.tennhahang}"></td>
                        <td th:text="${#dates.format(donDatBan.ngaydat, 'dd/MM/yyyy')}"></td>
                        <td th:text="${#dates.format(donDatBan.thoigiandat, 'HH:mm')}"></td>
                        <td th:text="${donDatBan.solgnguoi}"></td>
                        <td th:text="${donDatBan.comBoMonAn != null ? donDatBan.comBoMonAn.tencb : 'Null'}"></td>
                        <td th:text="${donDatBan.chiNhanh != null ? donDatBan.chiNhanh.tencn : 'Null'}"></td>
                        <td th:text="${donDatBan.yeucaudacbiet}"></td>
                        <td th:text="${donDatBan.ghichu}"></td>
                        <td>
                            <button class="btnXN" th:text="${donDatBan.trangThaiDon.noidung}" disabled></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
