<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/register.css}">
    <link rel="stylesheet" th:href="@{fontawesome/css/all.min.css}">
    <title>Register | Ludiflex</title>
</head>
<body>
    <div class="box">
    <div class="signup-box">
        <h1>Đăng ký ngay!</h1>
        <form>
            <label>Họ và tên</label>
            <input type="text" placeholder="">
            <label>Số điện thoại</label>
            <input type="password" placeholder="">
            <label>Mật khẩu</label>
            <input type="password" placeholder="">
            <label>Xác nhận mật khẩu</label>
            <input type="text" placeholder="">
            <label>Email</label>
            <input type="text" placeholder="">
            <input type="button" class="input-submit" value="Submit">
        </form>
        <p>Bạn đã có tài khoản ? <a th:href="@{/login}" >Login here</a></p>
    </div>
 </div>
</body>
</html>