/* Định dạng cho thanh điều hướng */
.navbar {
    background-color: #333;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.navbar .contenttop {
    display: flex;
    justify-content: center; /* Canh giữa các liên kết */
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar a.active {
    background-color: #04AA6D;
    color: white;
}
